[user]
	email = theopenbuddhistuniversity@gmail.com
	name = Khemarato Bhikkhu
[alias]
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchange
  hidden = "!git ls-files -v | grep ^h | cut -c 3-"
  hideall = "!git ls-files -z | xargs -0 git update-index --assume-unchanged"
  unhideall = "!git hidden | xargs -d '\n' git unhide"
  c = commit
  co = checkout
  s = status
  a = add
  com = "!git add -A && git commit -m " 
  uncommit = reset HEAD~

[init]
	defaultBranch = main
